<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header}}
    <p>I'm a professional frontend and mixed reality engineer with over a year of experience with JavaScript, great knowledge
    of clean code, OOP, and functional programming, and three months of internship experience with mixed reality
    applications. ability to work well in a team and adapt well to a fast-paced workplace. Effective communication skills in
    both English and Vietnamese with coworkers. I have assisted teams and the firm where I interned in creating effective
    and highly responsive optimized user interfaces, which has improved their productivity and efficiency.
    </p>
    {{>footer}}
</body>

</html>